#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0rem;
  text-align: center;
}

.logo {
  
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add margin if needed */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.a{
  color: #888;
}
.world{
  width: auto; /* Adjust the width as needed */
  height: 250px; 
}
.section-container {
  max-width: 600px; /* Adjust as needed */
}

.section-img {
  width: 70px; /* Adjust image width as needed */
  height: auto; /* Maintain aspect ratio */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
